
.about-header {
  position: relative;
  width: 100%;
  height: 20vh; 
  overflow: hidden;
}

/* Background image */
.about-header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(55%);
}

.about-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;
}

.about-header-text h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.about-header-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-cards-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 40px 20px;
  flex-wrap: wrap; 
  
  
}


.about-card {
  width: 20vw;
  height: 40vh;
  margin: 40px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 25px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.about-card h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  color: #333;
}

.about-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}