.home-container {
  padding: 40px;
}

.home-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #aaa;
}


.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
  padding: 10px;
}
