.book-card {
  border: 2px hidden #ccc;
  
  border-radius: 8px;
  width: 12VW;
  height: auto;
  margin: 30px 40px;
  text-align: center;
  background-color: #f9f9f9;
}

.book-card h3 {
  margin: 0 0 0.5rem 0;
  color: white;
}
.book-title {
 background-color: #3d3d5c;
 padding: 5px 10px;
  margin: 0;
}
.book-info {
 
    padding: 10px;
  
}
.book-card p {
  margin: 0;
  color: #555;
}
